.image {
    background-image: url("https://www.wallpapertip.com/wmimgs/66-666819_website-design-background-creative-background-image-for-website.jpg");
    background-repeat: no-repeat;
    height: 650px;
    width: 1630px;
  }
  
  .card {
    background-color: rgba(223, 223, 223, 0.774);
  }